In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
import string
import re

In [59]:
data=pd.read_csv("SpamCollectionSMS.txt",sep="\t",names=["label","text"])

In [60]:
data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [61]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [62]:
data.isnull().any()

label    False
text     False
dtype: bool

In [63]:
def remove_punc(text):
    text="".join([char for char in text if char not in string.punctuation])
    return text
data.text=data.text.apply(remove_punc)

In [64]:
data.head()

  label                                               text
0   ham  Go until jurong point crazy Available only in ...
1   ham                            Ok lar Joking wif u oni
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham        U dun say so early hor U c already then say
4   ham  Nah I dont think he goes to usf he lives aroun...

In [65]:
def tokenize(text):
    tokens=re.split("\W+",text.lower())
    return tokens
data.text=data.text.apply(tokenize)

In [66]:
data.head()

  label                                               text
0   ham  [go, until, jurong, point, crazy, available, o...
1   ham                     [ok, lar, joking, wif, u, oni]
2  spam  [free, entry, in, 2, a, wkly, comp, to, win, f...
3   ham  [u, dun, say, so, early, hor, u, c, already, t...
4   ham  [nah, i, dont, think, he, goes, to, usf, he, l...

In [67]:
def remove_stopwords(text):
    token=[word for word in text if word not in stopwords.words("english")]
    return token
data.text=data.text.apply(remove_stopwords)

In [69]:
data.head()

  label                                               text
0   ham  [go, jurong, point, crazy, available, bugis, n...
1   ham                     [ok, lar, joking, wif, u, oni]
2  spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3   ham      [u, dun, say, early, hor, u, c, already, say]
4   ham  [nah, dont, think, goes, usf, lives, around, t...

In [73]:
wn=x=nltk.WordNetLemmatizer()
def lematizing(text):
    token=[wn.lemmatize(word) for word in text]
    token=" ".join(token)
    return token
data.text=data.text.apply(lematizing)

In [77]:
data.head()

  label                                               text
0   ham  go jurong point crazy available bugis n great ...
1   ham                            ok lar joking wif u oni
2  spam  free entry 2 wkly comp win fa cup final tkts 2...
3   ham                u dun say early hor u c already say
4   ham           nah dont think go usf life around though

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
cv1=CountVectorizer()
x_count=cv1.fit_transform(data.text)
print(x_count.shape)
#print(cv1.get_feature_names())
cv1.get_feature_names_out()

(5572, 8923)

array(['008704050406', '0089my', '0121', ..., 'ãœ', 'ãœll', 'œharry'],
      dtype=object)

In [79]:
df=pd.DataFrame(x_count.toarray())
df.columns=cv1.get_feature_names_out()
df.head()

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,zogtorius,zoom,zouk,zyada,¾ã,ã¼,ã¼ll,ãœ,ãœll,œharry
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0