In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
import string
import re

In [65]:
data=pd.read_csv("SpamCollectionSMS.txt",sep="\t",names=["label","text"])

In [66]:
data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [67]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [68]:
data.isnull().any()

label    False
text     False
dtype: bool

In [69]:
def remove_punc(text):
    text="".join([char for char in text if char not in string.punctuation])
    return text
data.text=data.text.apply(remove_punc)

In [70]:
def tokenize(text):
    tokens=re.split("\W+",text.lower())
    return tokens
data.text=data.text.apply(tokenize)

In [71]:
def remove_stopwords(text):
    token=[word for word in text if word not in stopwords.words("english")]
    return token
data.text=data.text.apply(remove_stopwords)

In [75]:
wn=x=nltk.WordNetLemmatizer()
def lematizing(text):
    token=[wn.lemmatize(word) for word in text]
    return token
data.text=data.text.apply(lematizing)